In [9]:
import pandas as pd
import numpy as np
import datetime as dt

In [10]:
Loan_data = pd.read_csv('lc_loan.csv', low_memory=False)

In [11]:
Loan_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
Loan_2016_17 = pd.read_csv('lc_2016_2017.csv', low_memory=False)

In [13]:
Loan_2016_17.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,112435993,NaN,2300,2300,2300.0,36 months,12.62,77.08,C,C1,...,0.0,NaN,1.0,2.0,2315.0,55.0,7100.0,1.0,0.0,2.0
1,112290210,NaN,16000,16000,16000.0,60 months,12.62,360.95,C,C1,...,11078.0,69.0,3.0,5.0,1962.0,94.0,31900.0,0.0,6.0,1.0
2,112436985,NaN,6025,6025,6025.0,36 months,15.05,209.01,C,C4,...,0.0,NaN,1.0,2.0,1950.0,45.0,27700.0,1.0,5.0,3.0
3,112439006,NaN,20400,20400,20400.0,36 months,9.44,652.91,B,B1,...,53566.0,95.0,1.0,2.0,4240.0,60.0,46900.0,1.0,1.0,1.0
4,112438929,NaN,13000,13000,13000.0,36 months,11.99,431.73,B,B5,...,8466.0,72.0,0.0,1.0,2996.0,78.0,7800.0,0.0,0.0,0.0

In [14]:
Loan_2016_17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 759338 entries, 0 to 759337
Data columns (total 72 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           759338 non-null  int64
 1   member_id                    0 non-null       float64
 2   loan_amnt                    759338 non-null  int64
 3   funded_amnt                  759338 non-null  int64
 4   funded_amnt_inv              759338 non-null  float64
 5   term                         759338 non-null  object
 6   int_rate                     759338 non-null  float64
 7   installment                  759338 non-null  float64
 8   grade                        759338 non-null  object
 9   sub_grade                    759338 non-null  object
 10  emp_title                    708368 non-null  object
 11  emp_length                   708975 non-null  object
 12  home_ownership               759338 non-null  object
 13  annual_inc                   759338 non-null  float64
 14  verification_status          759338 non-null  object
 15  issue_d                      759338 non-null  object
 16  loan_status                  759338 non-null  object
 17  pymnt_plan                   759338 non-null  object
 18  desc                         17 non-null      object
 19  purpose                      759338 non-null  object
 20  title                        736165 non-null  object
 21  zip_code                     759337 non-null  object
 22  addr_state                   759338 non-null  object
 23  dti                          758983 non-null  float64
 24  delinq_2yrs                  759338 non-null  int64
 25  earliest_cr_line             759338 non-null  object
 26  inq_last_6mths               759337 non-null  float64
 27  mths_since_last_delinq       396633 non-null  float64
 28  mths_since_last_record       141179 non-null  float64
 29  open_acc                     759338 non-null  int64
 30  pub_rec                      759338 non-null  int64
 31  revol_bal                    759338 non-null  float64
 32  revol_util                   758821 non-null  float64
 33  total_acc                    759338 non-null  int64
 34  initial_list_status          759338 non-null  object
 35  out_prncp                    759338 non-null  float64
 36  out_prncp_inv                759338 non-null  float64
 37  total_pymnt                  759338 non-null  float64
 38  total_pymnt_inv              759338 non-null  float64
 39  total_rec_prncp              759338 non-null  float64
 40  total_rec_int                759338 non-null  float64
 41  total_rec_late_fee           759338 non-null  float64
 42  recoveries                   759338 non-null  float64
 43  collection_recovery_fee      759338 non-null  float64
 44  last_pymnt_d                 758390 non-null  object
 45  last_pymnt_amnt              759338 non-null  float64
 46  next_pymnt_d                 591423 non-null  object
 47  last_credit_pull_d           759320 non-null  object
 48  collections_12_mths_ex_med   759338 non-null  int64
 49  mths_since_last_major_derog  215105 non-null  float64
 50  policy_code                  759338 non-null  int64
 51  application_type             759338 non-null  object
 52  annual_inc_joint             34003 non-null   float64
 53  dti_joint                    34001 non-null   float64
 54  verification_status_joint    34003 non-null   object
 55  acc_now_delinq               759338 non-null  int64
 56  tot_coll_amt                 759338 non-null  float64
 57  tot_cur_bal                  759338 non-null  float64
 58  open_acc_6m                  759276 non-null  float64
 59  open_il_12m                  759277 non-null  float64
 60  open_il_24m                  759277 non-null  float64
 61  mths_since_rcnt_il           738795 non-null  float64
 62  total_bal_il                 759277 non-null  float64
 63  il_util                      658743 non-null  float64
 64  open_rv_12m                  759277 non-null  float64
 65  open_rv_24m                  759277 non-null  float64
 66  max_bal_bc                   759277 non-null  float64
 67  all_util                     759224 non-null  float64
 68  total_rev_hi_lim             759338 non-null  float64
 69  inq_fi                       759277 non-null  float64
 70  total_cu_tl                  759276 non-null  float64
 71  inq_last_12m                 759276 non-null  float64
dtypes: float64(40), int64(10), object(22)
memory usage: 417.1+ MB

In [15]:
Loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887379 entries, 0 to 887378
Data columns (total 74 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           887379 non-null  int64
 1   member_id                    887379 non-null  int64
 2   loan_amnt                    887379 non-null  float64
 3   funded_amnt                  887379 non-null  float64
 4   funded_amnt_inv              887379 non-null  float64
 5   term                         887379 non-null  object
 6   int_rate                     887379 non-null  float64
 7   installment                  887379 non-null  float64
 8   grade                        887379 non-null  object
 9   sub_grade                    887379 non-null  object
 10  emp_title                    835917 non-null  object
 11  emp_length                   842554 non-null  object
 12  home_ownership               887379 non-null  object
 13  annual_inc                   887375 non-null  float64
 14  verification_status          887379 non-null  object
 15  issue_d                      887379 non-null  object
 16  loan_status                  887379 non-null  object
 17  pymnt_plan                   887379 non-null  object
 18  url                          887379 non-null  object
 19  desc                         126028 non-null  object
 20  purpose                      887379 non-null  object
 21  title                        887227 non-null  object
 22  zip_code                     887379 non-null  object
 23  addr_state                   887379 non-null  object
 24  dti                          887379 non-null  float64
 25  delinq_2yrs                  887350 non-null  float64
 26  earliest_cr_line             887350 non-null  object
 27  inq_last_6mths               887350 non-null  float64
 28  mths_since_last_delinq       433067 non-null  float64
 29  mths_since_last_record       137053 non-null  float64
 30  open_acc                     887350 non-null  float64
 31  pub_rec                      887350 non-null  float64
 32  revol_bal                    887379 non-null  float64
 33  revol_util                   886877 non-null  float64
 34  total_acc                    887350 non-null  float64
 35  initial_list_status          887379 non-null  object
 36  out_prncp                    887379 non-null  float64
 37  out_prncp_inv                887379 non-null  float64
 38  total_pymnt                  887379 non-null  float64
 39  total_pymnt_inv              887379 non-null  float64
 40  total_rec_prncp              887379 non-null  float64
 41  total_rec_int                887379 non-null  float64
 42  total_rec_late_fee           887379 non-null  float64
 43  recoveries                   887379 non-null  float64
 44  collection_recovery_fee      887379 non-null  float64
 45  last_pymnt_d                 869720 non-null  object
 46  last_pymnt_amnt              887379 non-null  float64
 47  next_pymnt_d                 634408 non-null  object
 48  last_credit_pull_d           887326 non-null  object
 49  collections_12_mths_ex_med   887234 non-null  float64
 50  mths_since_last_major_derog  221703 non-null  float64
 51  policy_code                  887379 non-null  float64
 52  application_type             887379 non-null  object
 53  annual_inc_joint             511 non-null     float64
 54  dti_joint                    509 non-null     float64
 55  verification_status_joint    511 non-null     object
 56  acc_now_delinq               887350 non-null  float64
 57  tot_coll_amt                 817103 non-null  float64
 58  tot_cur_bal                  817103 non-null  float64
 59  open_acc_6m                  21372 non-null   float64
 60  open_il_6m                   21372 non-null   float64
 61  open_il_12m                  21372 non-null   float64
 62  open_il_24m                  21372 non-null   float64
 63  mths_since_rcnt_il           20810 non-null   float64
 64  total_bal_il                 21372 non-null   float64
 65  il_util                      18617 non-null   float64
 66  open_rv_12m                  21372 non-null   float64
 67  open_rv_24m                  21372 non-null   float64
 68  max_bal_bc                   21372 non-null   float64
 69  all_util                     21372 non-null   float64
 70  total_rev_hi_lim             817103 non-null  float64
 71  inq_fi                       21372 non-null   float64
 72  total_cu_tl                  21372 non-null   float64
 73  inq_last_12m                 21372 non-null   float64
dtypes: float64(49), int64(2), object(23)
memory usage: 501.0+ MB

In [16]:
Missing = pd.DataFrame([Loan_data.isnull().sum()])

In [17]:
Missing_T = Missing.transpose()

In [18]:
print(Missing_T.index)

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl',
       'inq_last_12m'],
      dtype='object')

In [19]:
Duplicates = Loan_data.duplicated()

In [20]:
Missing_T.columns=['count']
Missing_T.sort_values(by='count', ascending=False)

Missing_50 = Missing_T[Missing_T['count'] < 50000]
Subset_50 = Missing_50.index
print(Subset_50)

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'issue_d',
       'loan_status', 'pymnt_plan', 'url', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util',
       'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'policy_code', 'application_type',
       'acc_now_delinq'],
      dtype='object')

In [24]:
#subsetting the columns with less than 50000 null values
Loan_50 = Loan_data[Subset_50]
Loan_50.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,0.00,0.00,0.00,Jan-2015,171.62,Jan-2016,0.0,1.0,INDIVIDUAL,0.0
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,0.00,117.08,1.11,Apr-2013,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,0.00,0.00,0.00,Jun-2014,649.91,Jan-2016,0.0,1.0,INDIVIDUAL,0.0
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,16.97,0.00,0.00,Jan-2015,357.48,Jan-2015,0.0,1.0,INDIVIDUAL,0.0
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,0.00,0.00,0.00,Jan-2016,67.79,Jan-2016,0.0,1.0,INDIVIDUAL,0.0

In [27]:
#Checking null values in the remining columns
#The highest null value is the emp_length column with 44825 nulls
#It sounds like an important column, so I don't want to keep it for now.

Loan_50.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_length                    44825
home_ownership                    0
annual_inc                        4
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
url                               0
purpose                           0
title                           152
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                      29
earliest_cr_line                 29
inq_last_6mths                   29
open_acc                         29
pub_rec                          29
revol_bal                         0
revol_util                      502
total_acc                        29
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                  17659
last_pymnt_amnt                   0
last_credit_pull_d               53
collections_12_mths_ex_med      145
policy_code                       0
application_type                  0
acc_now_delinq                   29
dtype: int64

In [174]:
#Checking out the remining columns to decide which columns I need to drop
#based on their importance for the analysis. 
#I will also consider if some columns present redundunt information.

In [28]:
print(Loan_50[['id', 'member_id']].head(20))

         id  member_id
0   1077501    1296599
1   1077430    1314167
2   1077175    1313524
3   1076863    1277178
4   1075358    1311748
5   1075269    1311441
6   1069639    1304742
7   1072053    1288686
8   1071795    1306957
9   1071570    1306721
10  1070078    1305201
11  1069908    1305008
12  1064687    1298717
13  1069866    1304956
14  1069057    1303503
15  1069759    1304871
16  1065775    1299699
17  1069971    1304884
18  1062474    1294539
19  1069742    1304855

In [29]:
#checking for duplicates
Loan_50['member_id'].value_counts()

1296599     1
63494885    1
65566896    1
65527018    1
65006696    1
           ..
31507047    1
31456838    1
31436866    1
31456960    1
38982659    1
Name: member_id, Length: 887379, dtype: int64

In [30]:
#checking for duplicates
Loan_50['id'].value_counts()
#Both 'id' and 'member id' uniquely identify each row. 
#I will take the 'id' column and leave out the 'member id' column.

1077501     1
59561165    1
61448183    1
61408303    1
60964818    1
           ..
28983843    1
28933642    1
28913676    1
28933755    1
36271262    1
Name: id, Length: 887379, dtype: int64

In [31]:
#Similar information in 'purpose' and 'title' columns. 
#I am looking to choose one of the two.
Loan_50[['purpose', 'title']].value_counts()

purpose             title
debt_consolidation  Debt consolidation                      413228
credit_card         Credit card refinancing                 163954
home_improvement    Home improvement                         39951
other               Other                                    31774
debt_consolidation  Debt Consolidation                       14731
                                                             ...
                    Debt Consolidation at a lower rate           1
                    Debt Consolidation debt                      1
                    Debt Consolidation etc                       1
                    Debt Consolidation for $150K+ earner         1
wedding             youngest daughter                            1
Length: 71255, dtype: int64

In [32]:
print(Loan_50['purpose'].isna().sum())
Loan_50['purpose'].value_counts()

0

debt_consolidation    524215
credit_card           206182
home_improvement       51829
other                  42894
major_purchase         17277
small_business         10377
car                     8863
medical                 8540
moving                  5414
vacation                4736
house                   3707
wedding                 2347
renewable_energy         575
educational              423
Name: purpose, dtype: int64

In [33]:
print(Loan_50['title'].isna().sum())
Loan_50['title'].value_counts()

152

Debt consolidation                     414001
Credit card refinancing                164331
Home improvement                        40112
Other                                   31892
Debt Consolidation                      15760
                                        ...
New Heater                                  1
Looking to get out of debt                  1
Debt Conso/Pay off initial LC loan          1
Emergency Home Repair                       1
Credit Card/Auto Repair                     1
Name: title, Length: 63144, dtype: int64

In [181]:
#I am choosing the 'purpose' column since it doesn't have missing values and has fewer categories.

In [34]:
# dti = debt to income ratio. The less dti ratio, the better.
# A DTI of 43% is typically the highest ratio a borrower can have 
# and still get qualified for a mortgage, but lenders generally seek ratios of no more than 36%.
# source: https://www.investopedia.com/terms/d/dti.asp

Loan_50['dti'].value_counts()

19.20    684
14.40    674
18.00    661
13.20    638
16.80    632
        ...
40.56      1
45.78      1
45.58      1
46.67      1
59.19      1
Name: dti, Length: 4086, dtype: int64

In [35]:
Loan_50['dti'].isna().sum()

0

In [36]:
# 'pub_rec' - public records like bankruptcy, judgment, or a tax lien
print(Loan_50['pub_rec'].isna().sum())
#Loan_data['pub_rec'].value_counts()

29

In [37]:
# I am going to assume that the null values probably mean 0 pub_rec.
# Imputing the null values with 0 
Loan_50['pub_rec'] = Loan_50['pub_rec'].fillna(0)
Loan_50['pub_rec'].isna().sum()

C:\Users\meske\AppData\Local\Temp/ipykernel_17188/1869410555.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Loan_50['pub_rec'] = Loan_50['pub_rec'].fillna(0)

0

In [38]:
Loan_50['total_rec_prncp'].head()
#I am not sure what 'total_rec_prncp' mean. Therefore I am leaving out this column.

0     5000.00
1      456.46
2     2400.00
3    10000.00
4     2233.10
Name: total_rec_prncp, dtype: float64

In [39]:
#
Loan_50[['funded_amnt', 'funded_amnt_inv']].head()

   funded_amnt  funded_amnt_inv
0       5000.0           4975.0
1       2500.0           2500.0
2       2400.0           2400.0
3      10000.0          10000.0
4       3000.0           3000.0

In [40]:
Loan_data.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl',
       'inq_last_12m'],
      dtype='object')

In [189]:
#I may add a column for loan not funded in the next steps of the project
#Loan_data['Loan_not_funded'] = Loan_data['loan_amnt'] - Loan_data['funded_amnt']
#Loan_data['Loan_not_funded'].value_counts()

In [41]:
# I will exclude this column because I don't know what f and w stand for.
Loan_50['initial_list_status'].value_counts()

f    456848
w    430531
Name: initial_list_status, dtype: int64

In [43]:
# It looks like this column shows how many accounts of this person are deliquent.
Loan_50['acc_now_delinq'].value_counts()

0.0     883236
1.0       3866
2.0        208
3.0         28
4.0          7
5.0          3
6.0          1
14.0         1
Name: acc_now_delinq, dtype: int64

In [44]:
# checking for duplicate columns

id_cols = ['id', 'loan_amnt']
Loan_ids = Loan_50[id_cols]
duplicates = Loan_ids.duplicated()
print(Loan_50[duplicates])

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, last_credit_pull_d, collections_12_mths_ex_med, policy_code, application_type, acc_now_delinq]
Index: []

[0 rows x 48 columns]

In [45]:
Loan_50.loc[:, ('open_acc_6m':'il_util')]

SyntaxError: invalid syntax (Temp/ipykernel_17188/1734645195.py, line 1)

In [46]:
Loan_50['earliest_cr_line'].head(20)

0     Jan-1985
1     Apr-1999
2     Nov-2001
3     Feb-1996
4     Jan-1996
5     Nov-2004
6     Jul-2005
7     Jan-2007
8     Apr-2004
9     Sep-2004
10    Jan-1998
11    Oct-1989
12    Apr-2004
13    Jul-2003
14    May-1991
15    Sep-2007
16    Oct-1998
17    Aug-1993
18    Oct-2003
19    Jan-2001
Name: earliest_cr_line, dtype: object

In [47]:
Loan_50['application_type'].value_counts()

INDIVIDUAL    886868
JOINT            511
Name: application_type, dtype: int64

In [48]:
Loan_50.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'issue_d',
       'loan_status', 'pymnt_plan', 'url', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util',
       'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'policy_code', 'application_type',
       'acc_now_delinq'],
      dtype='object')

In [49]:
#selecting the columns which I think may be useful for the analysis.
col_to_select = ['id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment',  'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'issue_d',
       'loan_status', 'pymnt_plan', 'purpose', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util',
       'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d',
       'collections_12_mths_ex_med',  'application_type',
       'acc_now_delinq']

# cols to exclude due to redundent or unnecessary information
# 'member_id', 'grade', 'sub_grade','url', 'title', 'policy_code'

In [56]:
#subsetting the remaining columns
df = Loan_50[col_to_select]

In [57]:
#subsetting the same columns from the 2016-17 data
df_1617 = Loan_2016_17[col_to_select]

In [58]:
df.head()

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,emp_length,home_ownership,annual_inc,...,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,application_type,acc_now_delinq
0,1077501,5000.0,5000.0,4975.0,36 months,10.65,162.87,10+ years,RENT,24000.0,...,861.07,0.00,0.00,0.00,Jan-2015,171.62,Jan-2016,0.0,INDIVIDUAL,0.0
1,1077430,2500.0,2500.0,2500.0,60 months,15.27,59.83,< 1 year,RENT,30000.0,...,435.17,0.00,117.08,1.11,Apr-2013,119.66,Sep-2013,0.0,INDIVIDUAL,0.0
2,1077175,2400.0,2400.0,2400.0,36 months,15.96,84.33,10+ years,RENT,12252.0,...,603.65,0.00,0.00,0.00,Jun-2014,649.91,Jan-2016,0.0,INDIVIDUAL,0.0
3,1076863,10000.0,10000.0,10000.0,36 months,13.49,339.31,10+ years,RENT,49200.0,...,2209.33,16.97,0.00,0.00,Jan-2015,357.48,Jan-2015,0.0,INDIVIDUAL,0.0
4,1075358,3000.0,3000.0,3000.0,60 months,12.69,67.79,1 year,RENT,80000.0,...,1009.07,0.00,0.00,0.00,Jan-2016,67.79,Jan-2016,0.0,INDIVIDUAL,0.0

In [59]:
df_1617.head()

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,emp_length,home_ownership,annual_inc,...,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,application_type,acc_now_delinq
0,112435993,2300,2300,2300.0,36 months,12.62,77.08,NaN,OWN,10000.0,...,112.90,0.0,0.0,0.0,Dec-2017,77.08,Dec-2017,0,Individual,0
1,112290210,16000,16000,16000.0,60 months,12.62,360.95,10+ years,MORTGAGE,94000.0,...,873.16,0.0,0.0,0.0,Dec-2017,360.95,Dec-2017,0,Individual,0
2,112436985,6025,6025,6025.0,36 months,15.05,209.01,7 years,MORTGAGE,46350.0,...,348.28,0.0,0.0,0.0,Dec-2017,209.01,Dec-2017,0,Individual,0
3,112439006,20400,20400,20400.0,36 months,9.44,652.91,10+ years,RENT,44000.0,...,736.61,0.0,0.0,0.0,Dec-2017,652.91,Dec-2017,0,Individual,0
4,112438929,13000,13000,13000.0,36 months,11.99,431.73,10+ years,MORTGAGE,85000.0,...,597.66,0.0,0.0,0.0,Dec-2017,431.73,Dec-2017,0,Individual,0

In [60]:
df['home_ownership'].value_counts()

MORTGAGE    443557
RENT        356117
OWN          87470
OTHER          182
NONE            50
ANY              3
Name: home_ownership, dtype: int64

In [61]:
df_1617['home_ownership'].value_counts()

MORTGAGE    371579
RENT        297100
OWN          90151
ANY            504
NONE             4
Name: home_ownership, dtype: int64

In [64]:
#Combining columns 'ANY' and 'OTHER' in df and df_1617. I will be replacing ANY with OTHER
#since OTHER is more meaningful
df['home_ownership'] = df['home_ownership'].replace(to_replace ='ANY',
                 value ='OTHER')
df['home_ownership'].value_counts()

C:\Users\meske\AppData\Local\Temp/ipykernel_17188/2872795988.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['home_ownership'] = df['home_ownership'].replace(to_replace ='ANY',

MORTGAGE    443557
RENT        356117
OWN          87470
OTHER          185
NONE            50
Name: home_ownership, dtype: int64

In [65]:
df_1617['home_ownership'] = df_1617['home_ownership'].replace(to_replace ='ANY',
                 value ='OTHER')
df_1617['home_ownership'].value_counts()

MORTGAGE    371579
RENT        297100
OWN          90151
OTHER          504
NONE             4
Name: home_ownership, dtype: int64

In [ ]:
#I may change the home_ownership column to categorical in the next steps of the project.

In [66]:
df['emp_length'].value_counts()
#I may convert to category in the future.

10+ years    291569
2 years       78870
< 1 year      70605
3 years       70026
1 year        57095
5 years       55704
4 years       52529
7 years       44594
8 years       43955
6 years       42950
9 years       34657
Name: emp_length, dtype: int64

In [67]:
df['issue_d'].describe()

count       887379
unique         103
top       Oct-2015
freq         48631
Name: issue_d, dtype: object

In [77]:
# Convert to date

df['issue_d'] = pd.to_datetime(df['issue_d'])
df_1617['issue_d'] = pd.to_datetime(df_1617['issue_d'])

#I had to run the above code first before I run the below with formatting
#because I was getting error value with difficulty converting one of the values
#when the formatting was added.

df['issue_d'] = pd.to_datetime(df['issue_d'], format='%m%Y')
df_1617['issue_d'] = pd.to_datetime(df_1617['issue_d'], format='%m%Y')

C:\Users\meske\AppData\Local\Temp/ipykernel_17188/1924707474.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['issue_d'] = pd.to_datetime(df['issue_d'])
C:\Users\meske\AppData\Local\Temp/ipykernel_17188/1924707474.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['issue_d'] = pd.to_datetime(df['issue_d'], format='%m%Y')

In [75]:
df['issue_d'].value_counts()
#I probably only need month and year

2015-10-01    48631
2015-07-01    45962
2015-12-01    44342
2014-10-01    38782
2015-11-01    37530
              ...
2007-08-01       74
2007-07-01       63
2008-09-01       57
2007-09-01       53
2007-06-01       24
Name: issue_d, Length: 103, dtype: int64

In [79]:
df_1617['issue_d'].value_counts()

2016-03-01    61992
2017-08-01    43573
2017-09-01    39713
2016-02-01    39529
2017-07-01    39415
2017-06-01    38087
2017-05-01    37681
2017-03-01    37181
2016-04-01    36432
2016-08-01    36280
2016-12-01    36183
2016-07-01    34696
2016-11-01    34591
2016-06-01    33019
2016-10-01    32772
2016-01-01    32366
2017-01-01    31835
2017-04-01    29683
2016-05-01    28403
2016-09-01    28144
2017-02-01    27763
Name: issue_d, dtype: int64

In [80]:
df['loan_status'].value_counts()
# ** this would be an important column for the analysis
# Defination: A charge-off or chargeoff is a declaration by a creditor 
# (usually a credit card account) that an amount of debt is unlikely to be collected.(Wikipedia)

#I may need to combine "Charged off" and "Does not meet the credit policy. Status:Charged Off" 
#and 'Fully Paid' and 'Does not meet the credit policy. Status:Fully Paid'   ???

Current                                                601779
Fully Paid                                             207723
Charged Off                                             45248
Late (31-120 days)                                      11591
Issued                                                   8460
In Grace Period                                          6253
Late (16-30 days)                                        2357
Does not meet the credit policy. Status:Fully Paid       1988
Default                                                  1219
Does not meet the credit policy. Status:Charged Off       761
Name: loan_status, dtype: int64

In [81]:
df_1617['loan_status'].value_counts()

Current               565523
Fully Paid            130718
Charged Off            37197
Late (31-120 days)     15354
In Grace Period         6634
Late (16-30 days)       3876
Default                   36
Name: loan_status, dtype: int64

In [84]:
#combining the categories fully paid that are worded differently. The same with the charged off category.
#There is a category 'issued' in the df_1617 data, but not in df. I will leave that as is for now.

df['loan_status'] = df['loan_status'].replace(to_replace ='Does not meet the credit policy. Status:Fully Paid', value ='Fully Paid')
df['loan_status'] = df['loan_status'].replace(to_replace ='Does not meet the credit policy. Status:Charged Off', value ='Charged Off')
df['loan_status'].value_counts()

C:\Users\meske\AppData\Local\Temp/ipykernel_17188/1590280852.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['loan_status'] = df['loan_status'].replace(to_replace ='Does not meet the credit policy. Status:Fully Paid', value ='Fully Paid')
C:\Users\meske\AppData\Local\Temp/ipykernel_17188/1590280852.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['loan_status'] = df['loan_status'].replace(to_replace ='Does not meet the credit policy. Status:Charged Off', value ='Charged Off')

Current               601779
Fully Paid            209711
Charged Off            46009
Late (31-120 days)     11591
Issued                  8460
In Grace Period         6253
Late (16-30 days)       2357
Default                 1219
Name: loan_status, dtype: int64

In [85]:
df['term'].value_counts()

 36 months    621125
 60 months    266254
Name: term, dtype: int64

In [86]:
#converting the 'term' column to category
Loan_data['term'] = Loan_data['term'].astype('category')

In [90]:
#checking missing values in the df_1617 data.
Missing_1617 = pd.DataFrame([df_1617.isnull().sum()])
Missing_1617_T = Missing_1617.transpose()
print(Missing_1617_T)

# The 'emp_length' data is missing more than 50000 of its values.

                                0
id                              0
loan_amnt                       0
funded_amnt                     0
funded_amnt_inv                 0
term                            0
int_rate                        0
installment                     0
emp_length                  50363
home_ownership                  0
annual_inc                      0
verification_status             0
issue_d                         0
loan_status                     0
pymnt_plan                      0
purpose                         0
zip_code                        1
addr_state                      0
dti                           355
delinq_2yrs                     0
earliest_cr_line                0
inq_last_6mths                  1
open_acc                        0
pub_rec                         0
revol_bal                       0
revol_util                    517
total_acc                       0
initial_list_status             0
out_prncp                       0
out_prncp_inv                   0
total_pymnt                     0
total_pymnt_inv                 0
total_rec_prncp                 0
total_rec_int                   0
total_rec_late_fee              0
recoveries                      0
collection_recovery_fee         0
last_pymnt_d                  948
last_pymnt_amnt                 0
last_credit_pull_d             18
collections_12_mths_ex_med      0
application_type                0
acc_now_delinq                  0

In [91]:
Missing_df = pd.DataFrame([df.isnull().sum()])
Missing_df_T = Missing_df.transpose()
print(Missing_df_T)

                                0
id                              0
loan_amnt                       0
funded_amnt                     0
funded_amnt_inv                 0
term                            0
int_rate                        0
installment                     0
emp_length                  44825
home_ownership                  0
annual_inc                      4
verification_status             0
issue_d                         0
loan_status                     0
pymnt_plan                      0
purpose                         0
zip_code                        0
addr_state                      0
dti                             0
delinq_2yrs                    29
earliest_cr_line               29
inq_last_6mths                 29
open_acc                       29
pub_rec                         0
revol_bal                       0
revol_util                    502
total_acc                      29
initial_list_status             0
out_prncp                       0
out_prncp_inv                   0
total_pymnt                     0
total_pymnt_inv                 0
total_rec_prncp                 0
total_rec_int                   0
total_rec_late_fee              0
recoveries                      0
collection_recovery_fee         0
last_pymnt_d                17659
last_pymnt_amnt                 0
last_credit_pull_d             53
collections_12_mths_ex_med    145
application_type                0
acc_now_delinq                 29

In [96]:
#emp_length is missing 50000 of its values in the df_1617 and almost 45000 in df.
#Since emp_length seems to be a useful column for the analysis, I want to drop
#the rows that are null instead of droping the entire column.

#dropping rows with null values in the emp_length column in df

df['emp_length'].dropna()
pd.DataFrame([df['emp_length'].isnull().sum()])

       0
0  44825

In [97]:
#dropping rows with null values in the emp_length column in df_1617

df_1617['emp_length'].dropna()
pd.DataFrame([df_1617['emp_length'].isnull().sum()])

       0
0  50363

In [93]:
# There are some more columns with small amounts of null values, which I am leaving as is for now.

0.0     883236
1.0       3866
2.0        208
3.0         28
4.0          7
5.0          3
6.0          1
14.0         1
Name: acc_now_delinq, dtype: int64

In [98]:
df.to_csv('Loan_cleaned.csv',index=False)

In [ ]:
df_1617.to_csv('Loan_1617_cleaned.csv',index=False)