In [585]:
#import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [586]:
# loading the loan 2007-2015 data
df = pd.read_csv('Loan_0715_after_eda.csv')
df.head()

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,application_type,acc_now_delinq
0,1077501,5000.0,5000.0,4975.0,36,10.65,162.87,10.0,RENT,24000.0,Verified,2011-12-01,Fully Paid,n,credit_card,860xx,AZ,27.65,0.0,Jan-1985,1.0,3.0,0.0,13648.0,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-2015,171.62,Jan-2016,0.0,INDIVIDUAL,0.0
1,1077430,2500.0,2500.0,2500.0,60,15.27,59.83,0.0,RENT,30000.0,Source Verified,2011-12-01,Charged Off,n,car,309xx,GA,1.00,0.0,Apr-1999,5.0,3.0,0.0,1687.0,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,Sep-2013,0.0,INDIVIDUAL,0.0
2,1077175,2400.0,2400.0,2400.0,36,15.96,84.33,10.0,RENT,12252.0,Not Verified,2011-12-01,Fully Paid,n,small_business,606xx,IL,8.72,0.0,Nov-2001,2.0,2.0,0.0,2956.0,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-2014,649.91,Jan-2016,0.0,INDIVIDUAL,0.0
3,1076863,10000.0,10000.0,10000.0,36,13.49,339.31,10.0,RENT,49200.0,Source Verified,2011-12-01,Fully Paid,n,other,917xx,CA,20.00,0.0,Feb-1996,1.0,10.0,0.0,5598.0,21.0,37.0,f,0.0,0.0,12226.302212,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-2015,357.48,Jan-2015,0.0,INDIVIDUAL,0.0
4,1075358,3000.0,3000.0,3000.0,60,12.69,67.79,1.0,RENT,80000.0,Source Verified,2011-12-01,Current,n,other,972xx,OR,17.94,0.0,Jan-1996,0.0,15.0,0.0,27783.0,53.9,38.0,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-2016,67.79,Jan-2016,0.0,INDIVIDUAL,0.0

In [587]:
df['id'].is_unique

True

Categorical columns - term, emp_length, home_ownership, application_type, loan_status

bins?? - int_rate, annual_inc - bins

date columns - last_pymnt, last_pymnt_amnt ??

In [588]:
df['home_ownership'].value_counts()

MORTGAGE    414522
RENT        333724
OWN          77014
OTHER          179
NONE            43
Name: home_ownership, dtype: int64

In [589]:
df['term'].value_counts()

36    573166
60    252316
Name: term, dtype: int64

In [590]:
#combining mortgage and own categories
df['home_ownership'] = df['home_ownership'].str.replace('MORTGAGE', 'OWN')

In [591]:
df['home_ownership'].value_counts()

OWN      491536
RENT     333724
OTHER       179
NONE         43
Name: home_ownership, dtype: int64

In [592]:
df.columns

Index(['id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'pymnt_plan',
       'purpose', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'total_acc', 'initial_list_status',
       'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'last_credit_pull_d', 'collections_12_mths_ex_med', 'application_type',
       'acc_now_delinq'],
      dtype='object')

In [593]:
# Columns to drop - pymnt_plan, installment, verification_status, issue_d, issue_d, earliest_cr_line, 
# pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp,
# out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries,
# collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, last_credit_pull_d, 


# Columns to use - loan_amnt, funded_amnt, int_rate, annual_inc, zip_code, addr_state, dti, delinq_2yrs, 
# inq_last_6mths, open_acc, collections_12_mths_ex_med, acc_now_delinq
# and the one-hot encoded columns

df = df[['loan_amnt', 'funded_amnt', 'int_rate', 'annual_inc', 'dti', 'delinq_2yrs', 
       'inq_last_6mths', 'open_acc', 'collections_12_mths_ex_med', 'acc_now_delinq', 
       'term', 'emp_length', 'home_ownership', 'application_type', 'purpose', 'loan_status']]

In [594]:
df

,loan_amnt,funded_amnt,int_rate,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,collections_12_mths_ex_med,acc_now_delinq,term,emp_length,home_ownership,application_type,purpose,loan_status
0,5000.0,5000.0,10.65,24000.0,27.65,0.0,1.0,3.0,0.0,0.0,36,10.0,RENT,INDIVIDUAL,credit_card,Fully Paid
1,2500.0,2500.0,15.27,30000.0,1.00,0.0,5.0,3.0,0.0,0.0,60,0.0,RENT,INDIVIDUAL,car,Charged Off
2,2400.0,2400.0,15.96,12252.0,8.72,0.0,2.0,2.0,0.0,0.0,36,10.0,RENT,INDIVIDUAL,small_business,Fully Paid
3,10000.0,10000.0,13.49,49200.0,20.00,0.0,1.0,10.0,0.0,0.0,36,10.0,RENT,INDIVIDUAL,other,Fully Paid
4,3000.0,3000.0,12.69,80000.0,17.94,0.0,0.0,15.0,0.0,0.0,60,1.0,RENT,INDIVIDUAL,other,Current
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825477,10000.0,10000.0,11.99,31000.0,28.69,0.0,0.0,9.0,0.0,0.0,36,8.0,RENT,INDIVIDUAL,debt_consolidation,Current
825478,24000.0,24000.0,11.99,79000.0,3.90,0.0,1.0,5.0,0.0,0.0,36,10.0,OWN,INDIVIDUAL,home_improvement,Current
825479,13000.0,13000.0,15.99,35000.0,30.90,0.0,0.0,9.0,0.0,0.0,60,5.0,RENT,INDIVIDUAL,debt_consolidation,Current
825480,12000.0,12000.0,19.99,64400.0,27.19,1.0,2.0,17.0,1.0,0.0,60,1.0,RENT,INDIVIDUAL,debt_consolidation,Current
825481,20000.0,20000.0,11.99,100000.0,10.83,0.0,1.0,8.0,0.0,0.0,36,10.0,RENT,INDIVIDUAL,credit_card,Current

# One-hot-encoding Categorical Columns

In [595]:
# df = pd.get_dummies(df, prefix=['term', 'emp', 'home', 'appl', 'purpose'], columns=['term', 'emp_length', 'home_ownership', 'application_type', 'purpose'])
cat_cols = ['term', 'emp_length', 'home_ownership', 'application_type', 'purpose']
df = pd.get_dummies(df, prefix=['term', 'emp', 'home', 'appl', 'purpose'], columns=cat_cols)

In [596]:
df.columns

Index(['loan_amnt', 'funded_amnt', 'int_rate', 'annual_inc', 'dti',
       'delinq_2yrs', 'inq_last_6mths', 'open_acc',
       'collections_12_mths_ex_med', 'acc_now_delinq', 'loan_status',
       'term_36', 'term_60', 'emp_0.0', 'emp_1.0', 'emp_2.0', 'emp_3.0',
       'emp_4.0', 'emp_5.0', 'emp_6.0', 'emp_7.0', 'emp_8.0', 'emp_9.0',
       'emp_10.0', 'home_NONE', 'home_OTHER', 'home_OWN', 'home_RENT',
       'appl_INDIVIDUAL', 'appl_JOINT', 'purpose_car', 'purpose_credit_card',
       'purpose_debt_consolidation', 'purpose_educational',
       'purpose_home_improvement', 'purpose_house', 'purpose_major_purchase',
       'purpose_medical', 'purpose_moving', 'purpose_other',
       'purpose_renewable_energy', 'purpose_small_business',
       'purpose_vacation', 'purpose_wedding'],
      dtype='object')

In [624]:
X = df[['loan_amnt', 'funded_amnt', 'int_rate', 'annual_inc', 'dti',
       'delinq_2yrs', 'inq_last_6mths', 'open_acc',
       'collections_12_mths_ex_med', 'acc_now_delinq', 
       'term_36', 'term_60', 'emp_0.0', 'emp_1.0', 'emp_2.0', 'emp_3.0',
       'emp_4.0', 'emp_5.0', 'emp_6.0', 'emp_7.0', 'emp_8.0', 'emp_9.0',
       'emp_10.0', 'home_NONE', 'home_OTHER', 'home_OWN', 'home_RENT',
       'appl_INDIVIDUAL', 'appl_JOINT', 'purpose_car', 'purpose_credit_card',
       'purpose_debt_consolidation', 'purpose_educational',
       'purpose_home_improvement', 'purpose_house', 'purpose_major_purchase',
       'purpose_medical', 'purpose_moving', 'purpose_other',
       'purpose_renewable_energy', 'purpose_small_business',
       'purpose_vacation', 'purpose_wedding']]
y = df[['loan_status']]

In [625]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=42)

# Any outliers?

In [470]:
"""

# removing extereme values in the annual income column
inc_mean = df['annual_inc'].mean()
inc_std = df['annual_inc'].std()
Three_std = 3*inc_std
Three_std

"""

196071.44670046447

In [471]:
"""

# 99.7 Quantile
quantile_997 = df['annual_inc'].quantile(0.997)
quantile_997

"""

379557.0000000298

In [472]:
"""

# Removing the data that is above the 99.7 quantile. 
# I prefer the 99.7 quantile treshold than the 3 standard deviation because it removes less data.

df = df[df['annual_inc'] <= quantile_997]

"""

# Standardize the numeric columns using StandardScaler

In [626]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
to_standardize = ['loan_amnt', 'funded_amnt', 'int_rate', 'annual_inc', 
       'dti', 'delinq_2yrs', 'inq_last_6mths', 'open_acc',
       'collections_12_mths_ex_med', 'acc_now_delinq']
scaler.fit(X_train[to_standardize])
standardized_cols_train = scaler.transform(X_train[to_standardize])
standardized_cols_train = pd.DataFrame(standardized_cols)
standardized_cols_train.columns = to_standardize

In [634]:
standardized_cols.describe().T

# The following columns don't seem right
# collections_12_mths_ex_med
# acc_now_delinq

# annual_inc column - I may need to remove extereme values. 
# Should I remove extereme values from X_train only, and not from X_test??

,count,mean,std,min,25%,50%,75%,max
loan_amnt,660385.0,2.478754e-16,1.000001,-1.707338,-0.780221,-0.202625,0.603049,2.380269
funded_amnt,660385.0,-4.135475e-16,1.000001,-1.706739,-0.779057,-0.201109,0.605056,2.383359
int_rate,660385.0,-2.969682e-16,1.000001,-1.810351,-0.746095,-0.062419,0.669114,3.583852
annual_inc,660385.0,-5.113525e-16,1.000001,-1.157958,-0.455289,-0.174869,0.214602,139.022284
dti,660385.0,1.114310e-16,1.000001,-2.184669,-0.748024,-0.057563,0.697100,10.413227
delinq_2yrs,660385.0,1.037245e-14,1.000001,-0.365856,-0.365856,-0.365856,-0.365856,44.697189
inq_last_6mths,660385.0,1.977766e-15,1.000001,-0.696260,-0.696260,-0.696260,0.302280,32.255574
open_acc,660385.0,4.581692e-16,1.000001,-1.993371,-0.677370,-0.113369,0.450631,14.738646
collections_12_mths_ex_med,660385.0,-1.772058e-14,1.000001,-0.105992,-0.105992,-0.105992,-0.105992,148.394760
acc_now_delinq,660385.0,-2.531947e-15,1.000001,-0.064833,-0.064833,-0.064833,-0.064833,178.488144

In [627]:
not_to_standardize = ['term_36', 'term_60', 'emp_0.0', 'emp_1.0', 'emp_2.0', 'emp_3.0',
       'emp_4.0', 'emp_5.0', 'emp_6.0', 'emp_7.0', 'emp_8.0', 'emp_9.0',
       'emp_10.0', 'home_NONE', 'home_OTHER', 'home_OWN', 'home_RENT',
       'appl_INDIVIDUAL', 'appl_JOINT', 'purpose_car', 'purpose_credit_card',
       'purpose_debt_consolidation', 'purpose_educational',
       'purpose_home_improvement', 'purpose_house', 'purpose_major_purchase',
       'purpose_medical', 'purpose_moving', 'purpose_other',
       'purpose_renewable_energy', 'purpose_small_business',
       'purpose_vacation', 'purpose_wedding']

X_train = X_train[not_to_standardize]

# Combining the standardized columns and the categorical columns that don't need standardization.

X_train.reset_index(drop=True, inplace=True)
standardized_cols_train.reset_index(drop=True, inplace=True)
X_train = pd.concat([standardized_cols_train, X_train], axis=1)

In [632]:
X_train.head()

,loan_amnt,funded_amnt,int_rate,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,collections_12_mths_ex_med,acc_now_delinq,term_36,term_60,emp_0.0,emp_1.0,emp_2.0,emp_3.0,emp_4.0,emp_5.0,emp_6.0,emp_7.0,emp_8.0,emp_9.0,emp_10.0,home_NONE,home_OTHER,home_OWN,home_RENT,appl_INDIVIDUAL,appl_JOINT,purpose_car,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding
0,-0.599537,-0.598263,-0.484020,-0.607027,0.797641,-0.365856,-0.69626,-1.053370,-0.105992,-0.064833,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,-0.581765,-0.580480,-0.932967,-0.595499,-0.800112,1.945069,-0.69626,-0.489370,-0.105992,-0.064833,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,2.380269,2.383359,1.646771,1.499859,0.268287,-0.365856,-0.69626,0.638631,-0.105992,-0.064833,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3,0.792619,0.794741,0.849149,-0.408552,1.976271,-0.365856,0.30228,1.202632,-0.105992,-0.064833,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,0.215022,0.216793,0.981326,-0.594860,0.692255,-0.365856,-0.69626,-0.677370,-0.105992,-0.064833,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [629]:
# Standardizing the test data

standardized_cols_test = scaler.transform(X_test[to_standardize])
standardized_cols_test = pd.DataFrame(standardized_cols_test)
standardized_cols_test.columns = to_standardize

# Combining the standardized columns and the categorical columns that don't need standardization.

X_test.reset_index(drop=True, inplace=True)
standardized_cols_test.reset_index(drop=True, inplace=True)
X_test = pd.concat([standardized_cols_test, X_test], axis=1)

In [633]:
X_test.head()

,loan_amnt,funded_amnt,int_rate,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,collections_12_mths_ex_med,acc_now_delinq,loan_amnt,funded_amnt,int_rate,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,collections_12_mths_ex_med,acc_now_delinq,term_36,term_60,emp_0.0,emp_1.0,emp_2.0,emp_3.0,emp_4.0,emp_5.0,emp_6.0,emp_7.0,emp_8.0,emp_9.0,emp_10.0,home_NONE,home_OTHER,home_OWN,home_RENT,appl_INDIVIDUAL,appl_JOINT,purpose_car,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding
0,-0.700246,-0.699034,0.849149,0.214602,-1.241038,0.789606,3.297901,1.014632,-0.105992,-0.064833,9000.0,9000.0,16.99,90000.0,7.79,1.0,4.0,17.0,0.0,0.0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,1.076974,1.079270,-0.260685,-0.065817,-0.076944,-0.365856,-0.696260,-0.677370,-0.105992,-0.064833,24000.0,24000.0,12.12,72000.0,17.40,0.0,0.0,8.0,0.0,0.0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,0.366086,0.367949,-0.518203,-0.486447,0.034499,-0.365856,0.302280,-0.301370,-0.105992,-0.064833,18000.0,18000.0,10.99,45000.0,18.32,0.0,1.0,10.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3,-1.257109,-1.256236,3.200994,-0.408552,-0.262278,0.789606,0.302280,-0.677370,-0.105992,-0.064833,4300.0,4300.0,27.31,50000.0,15.87,1.0,1.0,8.0,0.0,0.0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,1.076974,1.079270,0.315881,0.370391,-1.305239,-0.365856,2.299361,-0.677370,-0.105992,-0.064833,24000.0,24000.0,14.65,100000.0,7.26,0.0,3.0,8.0,0.0,0.0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0